# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*.csv
data/processed/*

# Models
models/*.joblib
models/*.pkl

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
